In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('MA.csv')
df = df.dropna()
df.head()

   Month  Y_true
0      1  265.22
1      2  146.64
2      3  182.50
3      4  118.54
4      5  180.04

In [2]:
df.tail()

    Month  Y_true
34     35  581.17
35     36  647.82
36     37  650.81
37     38  677.54
38     39  666.56

In [3]:
alpha = 0.05
beta = 1.00
gamma = 0.24
s = 4
df['Level'] = 0.00
df['Level'][s-1] = np.mean([df['Y_true'][0:s]])
df['Level'][s-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

178.225

In [4]:
df['Trend'] = 0.00

df['Seasonality'] = 0.00
for i in range(0,s):
    df['Seasonality'][i] = df['Y_true'][i] - df['Level'][s-1]  
    
df.head(7)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   Month  Y_true    Level  Trend  Seasonality
0      1  265.22    0.000    0.0       86.995
1      2  146.64    0.000    0.0      -31.585
2      3  182.50    0.000    0.0        4.275
3      4  118.54  178.225    0.0      -59.685
4      5  180.04    0.000    0.0        0.000
5      6  167.45    0.000    0.0        0.000
6      7  231.75    0.000    0.0        0.000

In [5]:
for i in range(s,len(df.Y_true)):
    df['Level'][i] = alpha * ( df['Y_true'][i] - df['Seasonality'][i-s] ) + (1-alpha) * ( df['Level'][i-1] + df['Trend'][i-1] )
    
    df['Trend'][i] = beta * ( df['Level'][i] - df['Level'][i-1] ) + (1-beta) * ( df['Trend'][i-1] )
    
    df['Seasonality'][i] = gamma * ( df['Y_true'][i] - df['Level'][i] ) + (1-gamma) * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Month  Y_true       Level     Trend  Seasonality
0      1  265.22    0.000000  0.000000    86.995000
1      2  146.64    0.000000  0.000000   -31.585000
2      3  182.50    0.000000  0.000000     4.275000
3      4  118.54  178.225000  0.000000   -59.685000
4      5  180.04  173.966000 -4.259000    67.573960
5      6  167.45  171.173400 -2.792600   -24.898216
6      7  231.75  171.335510  0.162110    17.748478
7      8  223.71  177.092489  5.756979   -34.172397

In [6]:
df['Y_pred'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Y_pred'][i] =  df['Level'][i-1] + df['Trend'][i-1] + df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level     Trend  Seasonality     Y_pred
0      1  265.22    0.000000  0.000000    86.995000    0.00000
1      2  146.64    0.000000  0.000000   -31.585000    0.00000
2      3  182.50    0.000000  0.000000     4.275000    0.00000
3      4  118.54  178.225000  0.000000   -59.685000    0.00000
4      5  180.04  173.966000 -4.259000    67.573960  265.22000
5      6  167.45  171.173400 -2.792600   -24.898216  138.12200
6      7  231.75  171.335510  0.162110    17.748478  172.65580
7      8  223.71  177.092489  5.756979   -34.172397  111.81262

In [7]:
df.tail(8)

    Month  Y_true       Level      Trend  Seasonality      Y_pred
31     32  407.33  462.967023  20.383450     5.872700  492.523522
32     33  681.92  492.345924  29.378901    59.679754  502.010968
33     34  475.78  517.614582  25.268658    17.517332  557.984867
34     35  581.17  543.189813  25.575231    33.553268  575.038534
35     36  647.82  572.424157  29.234344    22.558254  574.637744
36     37  650.81  601.132088  28.707931    57.279312  661.338255
37     38  677.54  631.349152  30.217064    24.398976  647.357351
38     39  666.56  660.138241  28.789089    27.041706  695.119484

In [8]:
df['Absolute Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Absolute Error'][i] = abs( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level     Trend  Seasonality     Y_pred  Absolute Error
0      1  265.22    0.000000  0.000000    86.995000    0.00000         0.00000
1      2  146.64    0.000000  0.000000   -31.585000    0.00000         0.00000
2      3  182.50    0.000000  0.000000     4.275000    0.00000         0.00000
3      4  118.54  178.225000  0.000000   -59.685000    0.00000         0.00000
4      5  180.04  173.966000 -4.259000    67.573960  265.22000        85.18000
5      6  167.45  171.173400 -2.792600   -24.898216  138.12200        29.32800
6      7  231.75  171.335510  0.162110    17.748478  172.65580        59.09420
7      8  223.71  177.092489  5.756979   -34.172397  111.81262       111.89738

In [9]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484

In [10]:
df['Squared Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Squared Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error
0,1,265.22,0.000000,0.000000,86.995000,0.00000,0.00000,0.000000
1,2,146.64,0.000000,0.000000,-31.585000,0.00000,0.00000,0.000000
2,3,182.50,0.000000,0.000000,4.275000,0.00000,0.00000,0.000000
3,4,118.54,178.225000,0.000000,-59.685000,0.00000,0.00000,0.000000
4,5,180.04,173.966000,-4.259000,67.573960,265.22000,85.18000,7255.632400
5,6,167.45,171.173400,-2.792600,-24.898216,138.12200,29.32800,860.131584
6,7,231.75,171.335510,0.162110,17.748478,172.65580,59.09420,3492.124474
7,8,223.71,177.092489,5.756979,-34.172397,111.81262,111.89738,12521.023651

In [11]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098

In [12]:
df['Precent Error1'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error1'][i] = abs ((  df['Y_true'][i] - df['Y_pred'][i] ) / df['Y_true'][i])

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
0,1,265.22,0.000000,0.000000,86.995000,0.00000,0.00000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,-31.585000,0.00000,0.00000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,4.275000,0.00000,0.00000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,-59.685000,0.00000,0.00000,0.000000,0.000000
4,5,180.04,173.966000,-4.259000,67.573960,265.22000,85.18000,7255.632400,0.473117
5,6,167.45,171.173400,-2.792600,-24.898216,138.12200,29.32800,860.131584,0.175145
6,7,231.75,171.335510,0.162110,17.748478,172.65580,59.09420,3492.124474,0.254991
7,8,223.71,177.092489,5.756979,-34.172397,111.81262,111.89738,12521.023651,0.500189

In [13]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218,0.209151
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897,0.263827
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178,0.172779
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880,0.010550
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558,0.112967
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163,0.016177
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276,0.044547
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098,0.042846

In [14]:
df['Precent Error2'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error2'][i] = ( (  df['Y_pred'][i] - df['Y_true'][i] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
0,1,265.22,0.000000,0.000000,86.995000,0.00000,0.00000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,-31.585000,0.00000,0.00000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,4.275000,0.00000,0.00000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,-59.685000,0.00000,0.00000,0.000000,0.000000,0.000000
4,5,180.04,173.966000,-4.259000,67.573960,265.22000,85.18000,7255.632400,0.473117,0.516351
5,6,167.45,171.173400,-2.792600,-24.898216,138.12200,29.32800,860.131584,0.175145,0.026535
6,7,231.75,171.335510,0.162110,17.748478,172.65580,59.09420,3492.124474,0.254991,0.124543
7,8,223.71,177.092489,5.756979,-34.172397,111.81262,111.89738,12521.023651,0.500189,0.233131

In [15]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218,0.209151,0.021893
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897,0.263827,0.195080
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178,0.172779,0.014532
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880,0.010550,0.000166
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558,0.112967,0.015856
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163,0.016177,0.000264
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276,0.044547,0.002151
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098,0.042846,0.001777

In [16]:
df['Precent Error3'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error3'][i] = ( (  df['Y_true'][i] - df['Y_true'][i-1] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
0,1,265.22,0.000000,0.000000,86.995000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,-31.585000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,4.275000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,-59.685000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,173.966000,-4.259000,67.573960,265.22000,85.18000,7255.632400,0.473117,0.516351,0.269166
5,6,167.45,171.173400,-2.792600,-24.898216,138.12200,29.32800,860.131584,0.175145,0.026535,0.004890
6,7,231.75,171.335510,0.162110,17.748478,172.65580,59.09420,3492.124474,0.254991,0.124543,0.147452
7,8,223.71,177.092489,5.756979,-34.172397,111.81262,111.89738,12521.023651,0.500189,0.233131,0.001204

In [17]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218,0.209151,0.021893,0.085584
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897,0.263827,0.195080,0.454440
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178,0.172779,0.014532,0.091381
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880,0.010550,0.000166,0.049067
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558,0.112967,0.015856,0.013152
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163,0.016177,0.000264,0.000021
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276,0.044547,0.002151,0.001687
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098,0.042846,0.001777,0.000263

In [18]:
df['Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
0,1,265.22,0.000000,0.000000,86.995000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
1,2,146.64,0.000000,0.000000,-31.585000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
2,3,182.50,0.000000,0.000000,4.275000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
3,4,118.54,178.225000,0.000000,-59.685000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
4,5,180.04,173.966000,-4.259000,67.573960,265.22000,85.18000,7255.632400,0.473117,0.516351,0.269166,85.18000
5,6,167.45,171.173400,-2.792600,-24.898216,138.12200,29.32800,860.131584,0.175145,0.026535,0.004890,-29.32800
6,7,231.75,171.335510,0.162110,17.748478,172.65580,59.09420,3492.124474,0.254991,0.124543,0.147452,-59.09420
7,8,223.71,177.092489,5.756979,-34.172397,111.81262,111.89738,12521.023651,0.500189,0.233131,0.001204,-111.89738

In [19]:
df.tail(8)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218,0.209151,0.021893,0.085584,85.193522
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897,0.263827,0.195080,0.454440,-179.909032
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178,0.172779,0.014532,0.091381,82.204867
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880,0.010550,0.000166,0.049067,-6.131466
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558,0.112967,0.015856,0.013152,-73.182256
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163,0.016177,0.000264,0.000021,10.528255
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276,0.044547,0.002151,0.001687,-30.182649
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098,0.042846,0.001777,0.000263,28.559484

In [20]:
df['Squared Error Diff'] = 0.00

for i in range(s+1,len(df.Y_true)):
    df['Squared Error Diff'][i] = ( df['Error'][i] - df['Error'][i-1] )**2

df.head(9)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
0,1,265.22,0.000000,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,0.000000,-59.685000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,173.966000,-4.259000,67.573960,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000,0.000000
5,6,167.45,171.173400,-2.792600,-24.898216,138.122000,29.328000,860.131584,0.175145,0.026535,0.004890,-29.328000,13112.082064
6,7,231.75,171.335510,0.162110,17.748478,172.655800,59.094200,3492.124474,0.254991,0.124543,0.147452,-59.094200,886.026662
7,8,223.71,177.092489,5.756979,-34.172397,111.812620,111.897380,12521.023651,0.500189,0.233131,0.001204,-111.897380,2788.175818
8,9,192.98,179.977297,2.884808,54.476858,250.423428,57.443428,3299.747420,0.297665,0.065934,0.018869,57.443428,28676.309254

In [21]:
df.tail(9)

,Month,Y_true,Level,Trend,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
30,31,575.77,442.583574,24.643126,32.155294,435.837683,139.932317,19581.053276,0.243035,0.102362,0.100132,-139.932317,26648.356757
31,32,407.33,462.967023,20.383450,5.872700,492.523522,85.193522,7257.936218,0.209151,0.021893,0.085584,85.193522,50681.643351
32,33,681.92,492.345924,29.378901,59.679754,502.010968,179.909032,32367.259897,0.263827,0.195080,0.454440,-179.909032,70279.364372
33,34,475.78,517.614582,25.268658,17.517332,557.984867,82.204867,6757.640178,0.172779,0.014532,0.091381,82.204867,68703.696261
34,35,581.17,543.189813,25.575231,33.553268,575.038534,6.131466,37.594880,0.010550,0.000166,0.049067,-6.131466,7803.307811
35,36,647.82,572.424157,29.234344,22.558254,574.637744,73.182256,5355.642558,0.112967,0.015856,0.013152,-73.182256,4495.808360
36,37,650.81,601.132088,28.707931,57.279312,661.338255,10.528255,110.844163,0.016177,0.000264,0.000021,10.528255,7007.449690
37,38,677.54,631.349152,30.217064,24.398976,647.357351,30.182649,910.992276,0.044547,0.002151,0.001687,-30.182649,1657.377710
38,39,666.56,660.138241,28.789089,27.041706,695.119484,28.559484,815.644098,0.042846,0.001777,0.000263,28.559484,3450.638084

In [22]:
MSE = np.mean(df['Squared Error'][s:])
MSE

5934.773952905057

In [23]:
RMSE = np.sqrt(np.mean(df['Squared Error'][s:]))
RMSE

77.03748407694177

In [24]:
MAE = np.mean(df['Absolute Error'][s:])
MAE

63.360907637769095

In [25]:
MAPE = np.mean(df['Precent Error1'][s:])
MAPE

0.20821808830200814

In [26]:
ThielsU = np.sqrt( np.sum( df['Precent Error2'][s:-1] ) / np.sum( df['Precent Error3'][s:] ) )
ThielsU

0.8064357762249885